#editor {
  border-right: 1px solid #ddd;
}

#results {
  align-content: baseline;
}

.CodeMirror {
  height: 100% !important;
}

.loader {
  width: 50px; 
  height: 50px;
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid #666; 
  border-top: 6px solid #2c3e50;
  border-radius: 50%; 
  animation: spin 1s linear infinite; 
}


@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
